.services {
    width: 100%;
    margin: 4rem 0;
    text-align: center;
}

.services p {
    color: #3782D7;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5;
}

.services h1 {
    margin-top: 5px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2;
}

.services .card {
    margin: 0 -5px;
    width: 100%;
    align-items: center;
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding: 1rem;
}